body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
 
    /*  TODO */
    display: flex;
    justify-content: space-between;
    padding: 10px;

    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    /*  TODO */
    align-self: start;
    align-items: center;
    display: flex;
    gap: 10px;


}
.nav-right {
    /*  TODO */
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0 10px;
    

}
.nav-center {
    /*  TODO */
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-center input {
    width: 90%;
    padding: 9px;
}
.nav-center i {
    background: #f5ecec;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}
header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 10px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    /*  TODO */
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.video {

   /*  TODO */
   display: flex;
    flex-direction: column;
    width: 300px;
    cursor: pointer;

 
}
.video-thumbnail img {
   /*  TODO */
   display:flex;
    width: 100%;
    height: auto;
    
}
.video-text {
  /*  TODO */
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;

 
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}