body {
  background: linear-gradient(135deg, #74ABE2, #5563DE);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.card {
  background: #fff;
  width: 380px;
  text-align: center;
  border-radius: 15px;
  padding: 30px;
  margin: 20px; 
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1); 
  border: 1px solid #eee;
  position:relative;
}


.profile-pic {
  width: 120px;          /* Control how wide the picture is */
  height: 120px;         /* Match height for a square */
  border-radius: 50%;    /* Makes it a circle */
  object-fit: cover;     /* Crops the image neatly instead of stretching */
  border: 4px solid #5563DE;  /* Optional: adds a border */
  margin-bottom: 15px;   /* Adds space below the picture */
}

.name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* Basic info*/
.bio {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  padding: 0 10px; 
}


.btn {
  background-color: #5563DE;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color:skyblue;
  box-shadow: 0 5px 15px rgba(85, 99, 222, 0.4);
}
.links {
  margin-top: 15px;
  display:flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}
.more-info-trigger {
  position:absolute;
  top:15px;
  right:15px;
  color: #999;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 25px;
  transition: 0.3s ease;
}
.more-info-trigger:hover {
  color: #5563DE;
  transform: scale(1.1);
}
