body {
    background-color: skyblue;
}
.card {
    background-color: white;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.read-more {
    background-color: rgb(10, 8, 142);
    color: white;
    padding: 10px;
    border-radius: 900px;
    width:100px;
    text-align: center;
    cursor: pointer;
}
.button1:hover {
    background-color: darkgreen;
}
.button2:hover {
    background-color: orange;
}
.button3:hover {
    background-color: darkviolet;
}